
span{
	text-decoration: underline;
}

span1{
	background-color: orange; 
}
span2{
	color:red;
}


.underlined{
	text-decoration: underline;
}

#orange_background{
	background-color: orange; 
}

.red_text{
	color:red;
}
